

body {
background-color: #1c1a1a;
color: white;
display:flex;
justify-content: center;
align-items: center;
}

.all {
  witth: 50%;
  max-width: 1200px;
  min-width: 300px;
  background-color: #2c2b2b;
  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.left {
  position: initial;
  background-color: #303030;
  padding: 30px;
}

.right {
  position: initial;
  background-color: #242424;
  padding: 30px;
}
