

body {
background-color: #1c1a1a;
font-family:Arial, Verdana, sans-serif;
color: white;
display:flex;
justify-content: center;
align-items: center;
}

.all {
  witth: 50%;
  max-width: 1200px;
  min-width: 300px;
  background-color: #2c2b2b;
  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.left {
  position: initial;
  background-color: #303030;
  padding: 30px;
}

.right {
  position: initial;
  background-color: #242424;
  padding: 30px;
}

.img, .name, .contact, .aboutme, .skills, .mywork, .myeducation, .enlevel {
  margin-bottom: 20px;
}

a:link, a:visited {
    background-color: #1c1919;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 15px 10px;
    text-align: left;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    display: inline-block;
}
a:hover, a:active {
    background-color: #760808;
}
